@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Lobster&display=swap');
.main-page {
    min-height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1503220317375-aaad61436b1b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80');
    background-size: cover;
}

.nav-link a {
    color: #2A3E47 !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    font-family: 'Nunito Sans', sans-serif;
    transition: all 0.15s linear !important;
    border-bottom: 3px solid rgba(0, 128, 0, 0);
}

.nav-link a:hover {
    border-bottom: 3px solid green;
}

.logo {
    font-size: 35px !important;
    color: white !important;
    font-family: 'Amatic SC';
}

.container-layout {
    margin-top: 8%;
}

.main-text {
    margin-top: 1% !important;
    margin-left: 3% !important;
}

.welcome {
    font-family: 'Nunito Sans', sans-serif;
}

.main-title {
    color: white;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: 'DM Serif Display', serif;
}

.lower-text {
    font-family: 'Nunito Sans', sans-serif;
    color: rgb(209, 208, 208);
}

.sign-up {
    display: block;
    padding-left: 15%;
}

.login {
    padding-left: 15%;
    display: block;
}

.hidden {
    display: none;
}

@media only screen and (max-width:993px) {
    .nav-link a {
        color: white !important;
    }
    .login, .sign-up {
        padding-left: 0% !important;
    }
}

@media only screen and (max-width:993px) {
    .login-signup {
        margin: 20px auto !important;
    }
}